@use "../mixins.scss";

.card {
    display: flex;
    flex-direction: column;

    text-align: center;
    height: 100%;

    p {
        font-size: 1rem;
        color: var(--text-dark);
        padding: 0.5vh 1vw;
        background-image: linear-gradient(var(--primary-dark), var(--primary-darker));
    }

}