@use "../mixins.scss";

.footer_container{
    width: 100%;
    padding: 0px 128px 16px 128px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: var(--primary);

    p {
        font-size: 1rem;
    }
}
