@use "../mixins.scss";

.footer_container{
    width: 100%;
    padding: 0px var(--edge) 16px var(--edge);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: var(--primary);

    p {
        font-size: 1rem;
        color: var(--text-dark);
        text-wrap: nowrap;
    }
    
    @include mixins.tablet {
        flex-direction: column;
    }

    @include mixins.sm-mobile {
        p {
            font-size: 0.8rem;
        }
    }
}