@use "../mixins.scss";

.navbar_container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    position: fixed;

    height: var(--navbar-height);
    min-height: fit-content;
    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(var(--secondary), var(--secondary-dark));

    @include mixins.mw {
        height: var(--navbar-height-mw);
        flex-direction: column;
        justify-content: none;
        align-items:baseline;
    }

    .navbar_left_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5vw;
        padding: 0 2.5vw;

        @include mixins.mw{
            width: 100%;
            padding-top: 2vh;
        }

        .logo{
            width: 5vw;
            height: auto;

            @include mixins.mw{
                width: 7vw;
            }
        }

        .navbar_logo {
            font-size: 2rem;
            font-weight: bold;
            color: var(--text-dark);
            text-decoration: none;
        }
    }

    .navbar_right_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.5vw;
        padding: 0 2.5vw;

        .navbar_links {
            display: flex;
            flex-direction: row;
            gap: 2.5vw;
        
            @include mixins.mw{
                width: 100%;
                /*
                position: absolute;
                top: 100%;
                left: 0;
                height: fit-content;
                max-height: 0;
                overflow: hidden;
        
                background-color: var(--secondary;
                flex-direction: column;
                align-items: center;
                transition: all 0.3s ease-in-out;
        
                gap: 0;
                */
            }

            .nav_link {
                font-size: 1rem;
                color: var(--text-dark);
                text-decoration: none;
                text-align: center;
            
                @include mixins.mw{
                    width: 100%;
                    padding: 2vw;
                    font-size: 1rem;
                }
            }
            
            .nav_link:hover {
                transform: scale(1.05);

                @include mixins.mw{
                    transform: none;
                }
            }            
        }

        .join_button {
            padding: 1vh 2vw;
            background-color: var(--highlighter);
            border: none;
            border-radius: 4vw;
            font-size: 1rem;
            color: var(--text-light);

            @include mixins.mw{
                font-size: 0.8rem;
            }
        }
        
        .join_button:hover {
            transform: scale(1.05);
            
            @include mixins.mw{
                transform: none;
            }
        }
    }
    
}