@use "../mixins.scss";

.socials{
    display: flex;
    gap: 32px;

    a >* {
        font-size: 2.5rem;
        color: var(--text-dark);
    }

    a >*:hover{
        transform: scale(1.05);
    }
    
}

@include mixins.sm-mobile {
    .socials {
        gap: 20px;
    }
}