@use "../mixins.scss";

.socials{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.a_link{
    text-decoration: none;
    color: var(--text-dark);
    font-size: 1rem;
}

.a_link:hover{
    text-decoration: underline;
}


.logo{
    font-size: 2rem;

    @include mixins.mw{
        font-size: 2rem;
    }
}
