@use "../mixins.scss";

.page {
    padding: 5vh 0;
    background-color: var(--primary);

    .large_text {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .contact_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5%;
        padding: 2% 5%;
        background-color: var(--primary);

        @include mixins.mw{
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 2% 2.5%;
        }

        .image {
            width: 50%;
            height: auto;

            @include mixins.mw{
                width: 80%;
            }
        }

        .contacts{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include mixins.mw{
                width: 80%;
            }

            .textbox {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                align-items: center;
            }    
        }
    }
    
    
    .location_box {
        background-color: var(--primary);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 50px;


        @include mixins.mw{
            flex-direction: column;
            align-items: center;
            padding: 0 2.5%;
            padding-top: 50px;
        }

        .non_map {
            padding: 0 5%;
            display: flex;
            flex-direction: column;
            gap: 3vh;

            @include mixins.mw{
                width: 80%;
                padding-bottom: 35px;
            }

            p {
                font-size: 1rem;
                color: var(--text-dark);
            }

            .blue_text{
                color: var(--highlighter);
                font-weight: bold;
            }

            .deets {
                display: flex;
                flex-direction: row;
                gap: 3vw;
            }
        }

        .map {
            width: 40%;

            @include mixins.mw{
                width: 80%;
            }

            .map_pic {
                width: 80%;
                padding-bottom: 5vh;
                height: auto;

                @include mixins.mw{
                    width: 100%;
                }
            }
        }

    }
}