@use "../mixins.scss";

.page {
    width: 100%;
    background-color: var(--primary);
}

.welcome_img {
    position: relative;
    width: 100%;
    height: 100vh;

    p {
        // padding-top: 45%;
        padding-top: min(calc(0.65 * (100vh - var(--navbar))), 45%);
        
        text-align: center;
        font-size: 2rem;
        font-weight: bold;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    
        background-image: radial-gradient(circle, rgba(0,0,0,0.4) 63%,  rgba(0,0,0,0.39)37%);
        color: var(--text-light);
    }    
}

.math_box, .box, .math_box_mobile {
    padding: calc(var(--edge) / 2) var(--edge);

    display: flex;
    justify-content: space-between;
    text-align: center;

    > * {
        height: 256px;
        width: calc(0.4 * (100% - 2 * var(--edge)));
        padding: 16px;
        border-radius: 32px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        
        color: var(--text-dark);
        
        a, button {
            width: 90%;
            align-self: center;
            font-size: 1rem;
        }

        .title {
            font-size: 4rem;
        }
        
        .desc {
            font-size: 1.25rem;
        }
    }
    
    .third2 {
        padding-top: 0px;
    }
}

.math_box_mobile {
    display: none;
}

.image_container {
    aspect-ratio: 1.5;
    position: relative;
    margin: 16px 0px;

    > * {
        border-radius: 32px;
        box-shadow: 0px 0px 15px var(--secondary);
    }

    > *:hover{
        transform: scale(1.05);
    }
}

@include mixins.sm-laptop {
    .page{
        overflow: hidden;
    }

    .welcome_img {
        height: auto;
        max-height: 100vh;
        aspect-ratio: 1.5;    
    }
    
    .math_box, .box{
        > * {
            .title {
                font-size: 3rem;
            }
            .desc {
                font-size: 1rem;
            }
        }
    }
}


@include mixins.tablet {
    .welcome_img {
        p {
            font-size: 1.5rem;
        }
    }    

    .math_box, .box, .math_box_mobile {
        > * {
            height: 180px;            
            gap: 8px;
            a, button {
                width: 100%;
                font-size: 0.9rem;
            }
            .title {
                font-size: 2.25rem;
            }
            .desc {
                font-size: 0.9rem;
            }
        }
        .third2 {
            padding-top: 16px;
            margin: 16px 0px;
        }
    }
}

@include mixins.mobile {
    .welcome_img {
        margin-bottom: 32px;
        p {
            font-size: 1rem;
        }
    }

    .math_box {
        display: none;
    }
    
    .math_box_mobile, .box {
        display: flex;
        justify-content: center;
        gap: 8px;
        position: relative;
        padding-bottom: 96px;
        > * {
            height: 120px;
            a, button {
                font-size: 0.8rem;
            }
        }
        .image_container {
            margin: 0;
            > * {
                border-radius: 16px;
            }
        }
        .third2 {
            width: 100%;
            height: fit-content;
            position: absolute;
            top: 112px;
            margin: 0;
            gap: 0;
        }
    }

    .math_box_mobile {
        height: fit-content;
        padding-bottom: 128px;
        .third1, .third3 {
            height: fit-content;
            padding: 0;
        }
        .third2 {
            top: 72px;
        }
    }
}

@include mixins.sm-mobile {
    .welcome_img{
        p {
            font-size: 0.8rem;
        }
    }
    .box {
        padding-bottom: 80px;
        > * {
            height: 80px;
        }
        .third2 {
            top: 72px;
        }
    }
    .math_box_mobile {
        > * {
            a, button {
                font-size: 0.5rem;
            }
        }
        .third2 {
            top: 56px;
        }
    }

}