@use "../mixins.scss";

.page {
    background-color: var(--primary);
    padding: calc(var(--navbar) + 2vh) var(--edge);
    display: flex;
    flex-direction: column;
    gap: 35px;

    h1 {
        font-weight: 900;
        text-align: center;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 16px;
    row-gap: 32px;
}

.card {
    width: 250px;
    padding: 16px;

    border-radius: 15px;
    background-color: var(--secondary);

    p, h2 {
        padding-top: 8px;
        text-align: center;
    }

    b {
      font-weight: bold;
    }
    
}

.photo {
    position: relative;
    width: 100%;
    height: 250px; /* This can be adjusted as needed */
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* This ensures the image covers the container without stretching */
        object-position: center; /* Center the image in the container */
    }
}

@include mixins.sm-laptop {
    .card {
        width: 200px;
        h2 {
            font-size: 1.25rem;
        }
        p {
            font-size: 0.8rem;
        }
    }
    .photo {
        height: 180px;
    }
}
