@use "mixins.scss";

:root {
  /* Variables */
  // --primary: #fce59d;
  --primary: #f7d15c;
  --secondary: #fce59d;
  // --primary-dark: #f2f1d8;
  // --primary-darker: #fce59d;
  // --secondary: #f9cc3f;
  // --secondary-dark: #f0b702;
  // --secondary-light: #f7d15c;
  --highlighter:#131b34 ;
  --text-light: #fffff0 ;
  --text-dark: #131b34;

  --navbar: 10vh;

  @include mixins.tablet{
    --navbar: 12vh;
  }

  --edge: 64px;
}

* {
  box-sizing: border-box;
  font-family: 'Tahoma';
  padding: 0;
  margin: 0;
  color: var(--text-dark);
}

button {
  padding: 8px 16px;
  font-size: 1rem;
  
  border-radius: 4vw;
  border: none;  

  background-color: var(--highlighter);
  color: var(--text-light);

  @include mixins.mobile{
    font-size: 0.8rem;
  }
}

button:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}