@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import 'variables';
@import 'normalize';

body > * {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', serif;
  margin: 0;
}


input, textarea {
  width: 100%;
}


body {
  padding-top: $navbar-height;

  @include mw {
    padding-top: $navbar-height-mw;
  }
}
