/* Color variables */
$primary: #fffff0;
$primary-dark: #f2f1d8;
$primary-darker: #fce59d;
$secondary: #f9cc3f;
$secondary-dark: #f0b702;
$secondary-light: #f7d15c;
$highlighter:#2f49aa ;
$highlighter-light: #4265eb;
$text-light: #f0f6ff ;
$text-dark: #202429;

$navbar-height: 10vh;
$navbar-height-mw: 12vh;

@mixin mw{
    @media screen and (max-width: 800px) {
        @content;
      }
}
